.mat-toolbar {
    display: flex;
    justify-content: space-between;
}

.spacer {
    flex: 1 1 auto;
}

.app {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //min-height: 100vh;
    //flex-direction: column;
}
